In [8]:
import pandas as pd
df = pd.read_csv('/Users/joey/Downloads/2018-2019 NBA Player Stats  NBAstuffer.csv')

In [9]:
#These columns are a mess
df.columns

Index(['RANK', 'FULL NAME', 'TEAM', 'POS', 'AGE', 'GP', 'MPG',
       'MIN%Minutes PercentagePercentage of team minutes used by a player while he was on the floor',
       'USG%Usage RateUsage rate, a.k.a., usage percentage is an estimate of the percentage of team plays used by a player while he was on the floor',
       'Tor%Turnover RateA metric that estimates the number of turnovers a player commits per 100 possessions',
       'FTA', 'FT%', '2PA', '2P%', '3PA', '3P%',
       'eFG%Effective Shooting PercentageWith eFG%, three-point shots made are worth 50% more than two-point shots made. eFG% Formula=(FGM+ (0.5 x 3PM))/FGA',
       'TS%True Shooting PercentageTrue shooting percentage is a measure of shooting efficiency that takes into account field goals, 3-point field goals, and free throws.',
       'PPGPointsPoints per game.', 'RPGReboundsRebounds per game.',
       'TRB%Total Rebound PercentageTotal rebound percentage is estimated percentage of available rebounds grabbed by the player while the player is on the court.',
       'APGAssistsAssists per game.',
       'AST%Assist PercentageAssist percentage is an estimated percentage of teammate field goals a player assisted while the player is on the court',
       'SPGStealsSteals per game.', 'BPGBlocksBlocks per game.',
       'TOPGTurnoversTurnovers per game.',
       'VIVersatility IndexVersatility index is a metric that measures a player’s ability to produce in points, assists, and rebounds. The average player will score around a five on the index, while top players score above 10',
       'ORTGOffensive RatingIndividual offensive rating is the number of points produced by a player per 100 total individual possessions.',
       'DRTGDefensive RatingIndividual defensive rating estimates how many points the player allowed per 100 possessions he individually faced while staying on the court.'],
      dtype='object')

In [11]:
df = df.rename(columns={'Tor%Turnover RateA metric that estimates the number of turnovers a player commits per 100 possessions': 'TurnoverRate', 
                        'TRB%Total Rebound PercentageTotal rebound percentage is estimated percentage of available rebounds grabbed by the player while the player is on the court.': 'ReboundPercent',
                        'AST%Assist PercentageAssist percentage is an estimated percentage of teammate field goals a player assisted while the player is on the court': 'AssistPercent',
                        'USG%Usage RateUsage rate, a.k.a., usage percentage is an estimate of the percentage of team plays used by a player while he was on the floor': 'UsageRate',
                        'VIVersatility IndexVersatility index is a metric that measures a player’s ability to produce in points, assists, and rebounds. The average player will score around a five on the index, while top players score above 10':'VIVersatility',
                        'ORTGOffensive RatingIndividual offensive rating is the number of points produced by a player per 100 total individual possessions.': 'OffensiveRating',
                        'DRTGDefensive RatingIndividual defensive rating estimates how many points the player allowed per 100 possessions he individually faced while staying on the court.':'DefensiveRating',
                        'eFG%Effective Shooting PercentageWith eFG%, three-point shots made are worth 50% more than two-point shots made. eFG% Formula=(FGM+ (0.5 x 3PM))/FGA': 'EFG',
                        'TS%True Shooting PercentageTrue shooting percentage is a measure of shooting efficiency that takes into account field goals, 3-point field goals, and free throws.': 'TrueShootingPercent',
                        'MIN%Minutes PercentagePercentage of team minutes used by a player while he was on the floor':'MinPercentage',
                        'PPGPointsPoints per game.': 'PPG',
                        'RPGReboundsRebounds per game.':'RPG',
                        'APGAssistsAssists per game.':'APG',
                        'SPGStealsSteals per game.':'SPG',
                        'BPGBlocksBlocks per game.': 'BPG',
                        'TOPGTurnoversTurnovers per game.': 'TPG',
                        'FULL NAME': 'FULLNAME'})

In [12]:
#This looks better
df.columns

Index(['RANK', 'FULLNAME', 'TEAM', 'POS', 'AGE', 'GP', 'MPG', 'MinPercentage',
       'UsageRate', 'TurnoverRate', 'FTA', 'FT%', '2PA', '2P%', '3PA', '3P%',
       'EFG', 'TrueShootingPercent', 'PPG', 'RPG', 'ReboundPercent', 'APG',
       'AssistPercent', 'SPG', 'BPG', 'TPG', 'VIVersatility',
       'OffensiveRating', 'DefensiveRating'],
      dtype='object')

In [13]:
#Return first 5 rows and all columns
df.loc[0:4, :]

,RANK,FULLNAME,TEAM,POS,AGE,GP,MPG,MinPercentage,UsageRate,TurnoverRate,...,RPG,ReboundPercent,APG,AssistPercent,SPG,BPG,TPG,VIVersatility,OffensiveRating,DefensiveRating
0,NaN,Alex Abrines,Okc,G,25.69,31,19.0,39.5,12.2,7.9,...,1.5,4.2,0.6,4.3,0.55,0.19,0.45,3.5,103.1,103.9
1,NaN,Quincy Acy,Pho,F,28.51,10,12.3,25.6,9.2,15.2,...,2.5,11.3,0.8,8.2,0.10,0.40,0.40,4.9,87.1,98.5
2,NaN,Jaylen Adams,Atl,G,22.93,34,12.6,26.2,13.5,19.7,...,1.8,7.5,1.9,20.2,0.38,0.15,0.82,7.0,99.5,108.1
3,NaN,Steven Adams,Okc,C,25.73,80,33.4,69.5,16.4,12.8,...,9.5,14.7,1.6,6.6,1.49,0.96,1.73,7.1,119.9,102.7
4,NaN,Bam Adebayo,Mia,C-F,21.73,82,23.3,48.6,15.8,17.1,...,7.3,16.6,2.2,14.2,0.88,0.79,1.48,9.0,120.0,97.2

In [20]:
#return first 10 rows, TEAM and FULLNAME column only
df.loc[0:9, ['TEAM','FULLNAME']]

  TEAM                FULLNAME
0  Okc            Alex Abrines
1  Pho              Quincy Acy
2  Atl            Jaylen Adams
3  Okc            Steven Adams
4  Mia             Bam Adebayo
5  Cle               Deng Adel
6  Den  DeVaughn Akoon-Purcell
7  San       LaMarcus Aldridge
8  Chi            Rawle Alkins
9  Uta           Grayson Allen

In [22]:
#return rows 10-20 and columns Rank through GP
df.loc[10:19,'RANK':'GP']

    RANK               FULLNAME TEAM  POS    AGE  GP
10   NaN          Jarrett Allen  Bro    C  20.97  80
11   NaN           Kadeem Allen  Nyk    G  26.24  19
12   NaN        Al-Farouq Aminu  Por    F  28.55  81
13   NaN        Justin Anderson  Atl  G-F  25.39  48
14   NaN          Kyle Anderson  Mem    F  25.56  43
15   NaN          Ryan Anderson  Pho    F  30.93  15
16   NaN          Ryan Anderson  Mia    F  30.93  10
17   NaN           Ike Anigbogu  Ind    C  20.47   3
18   NaN  Giannis Antetokounmpo  Mil    F  24.35  72
19   NaN   Kostas Antetokounmpo  Dal    F  21.39   2

In [24]:
#Return all players for the Orlando Magic
df.loc[df.TEAM=='Orl',:]

,RANK,FULLNAME,TEAM,POS,AGE,GP,MPG,MinPercentage,UsageRate,TurnoverRate,...,RPG,ReboundPercent,APG,AssistPercent,SPG,BPG,TPG,VIVersatility,OffensiveRating,DefensiveRating
25,NaN,D.J. Augustin,Orl,G,31.42,81,28.0,58.4,17.2,14.3,...,2.5,4.8,5.3,26.9,0.64,0.05,1.58,7.7,122.7,108.7
33,NaN,Mo Bamba,Orl,C,20.92,47,16.3,34.0,17.8,13.7,...,4.9,16.2,0.8,7.4,0.28,1.36,0.91,7.1,105.7,95.9
53,NaN,Khem Birch,Orl,C,26.53,50,12.9,26.8,14.0,9.2,...,3.8,15.7,0.8,8.5,0.36,0.60,0.38,7.6,135.8,98.9
73,NaN,Isaiah Briscoe,Orl,G,22.99,39,14.3,29.9,14.1,17.2,...,1.9,7.1,2.2,21.0,0.28,0.05,0.79,6.8,96.3,100.1
107,NaN,Michael Carter-Williams,Orl,G,27.50,12,18.9,39.4,16.1,11.9,...,4.8,13.4,4.1,28.9,0.92,0.83,0.83,10.0,111.5,99.5
111,NaN,Troy Caupain,Orl,G,23.37,4,3.9,8.1,22.3,0.0,...,0.8,10.3,1.0,44.1,0.25,0.00,0.00,12.9,NaN,NaN
196,NaN,Evan Fournier,Orl,G-F,26.45,81,31.5,65.7,22.1,11.9,...,3.2,5.4,3.6,17.6,0.89,0.15,1.90,7.1,104.2,103.8
198,NaN,Melvin Frazier Jr.,Orl,G-F,22.61,10,4.4,9.3,23.3,4.2,...,0.5,6.0,0.1,3.3,0.10,0.00,0.10,3.8,75.1,100.1
218,NaN,Aaron Gordon,Orl,F,23.57,78,33.8,70.3,21.8,12.3,...,7.3,11.7,3.7,16.6,0.73,0.72,2.08,8.9,107.3,104.6
225,NaN,Jerian Grant,Orl,G,26.50,60,15.6,32.6,13.4,17.7,...,1.7,5.6,2.6,22.4,0.73,0.10,0.85,6.8,108.4,103.2
286,NaN,Jonathan Isaac,Orl,F,21.52,75,26.6,55.5,16.3,10.2,...,5.5,11.0,1.1,5.7,0.79,1.29,1.01,5.8,107.1,103.7
287,NaN,Wes Iwundu,Orl,F,24.31,68,18.1,37.8,12.8,12.1,...,2.7,8.0,1.1,7.9,0.41,0.32,0.65,5.4,107.5,102.0
296,NaN,Amile Jefferson,Orl,F,25.93,12,5.7,11.9,13.1,4.9,...,1.8,16.5,0.3,6.3,0.25,0.25,0.08,7.5,147.3,96.0
380,NaN,Jarell Martin,Orl,F,24.88,42,7.8,16.3,15.9,9.2,...,1.7,11.9,0.4,7.8,0.07,0.19,0.26,6.3,105.6,94.9
503,NaN,Terrence Ross,Orl,G-F,28.18,81,26.5,55.3,23.9,7.5,...,3.5,7.0,1.7,9.9,0.89,0.36,1.10,6.8,108.1,106.3
527,NaN,Jonathon Simmons,Orl,F,29.57,41,20.6,42.9,19.3,15.0,...,2.5,6.4,2.3,15.7,0.41,0.34,1.37,6.6,91.5,105.0
580,NaN,Nikola Vucevic,Orl,C,28.46,80,31.4,65.4,28.0,9.9,...,12.0,20.5,3.8,21.9,1.01,1.14,1.99,12.5,115.4,101.0

In [29]:
#Return rows 1 and 2 and columns in position 0 and 4
df.iloc[[0,1], [0,3]]

   RANK POS
0   NaN   G
1   NaN   F

In [30]:
#ix was removed due to ambiguity but this returns the value of 3rd row and TEAM column
df.ix[2, 'TEAM']

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

'Atl'

In [36]:
#Return PPG for Aaron Gordon
df.loc[df.FULLNAME=='Aaron Gordon','PPG']

218    16.0
Name: PPG, dtype: float64

In [38]:
#Return Minutes played, and PPG for Aaron Gordon
df.loc[df.FULLNAME=='Aaron Gordon', ['PPG','MPG']]

      PPG   MPG
218  16.0  33.8

In [39]:
#Return 3point percentage for Stephen Curry
df.loc[df.FULLNAME=='Stephen Curry', '3P%']

142    0.437
Name: 3P%, dtype: float64

In [40]:
#Find average of defensive rating for the Orlando Magic players
df.loc[df.TEAM=='Orl', 'DefensiveRating'].mean()

101.48125